body{
	padding-top: 60px;
}

.topbar-bg{
	height: 270px;
	background-size: cover;
	position: relative;
}



.mr-li{
	margin-right: 415px;
}

#title span{
	padding: 0.2em 0.7em;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
    border: 2px solid #fff;
    position: absolute;
    z-index: 10;
	font-size: 40px;
	font-family: 'Peralta', cursive;
	
}

